# Ignore __pycache__ everywhere
__pycache__
__pycache__/

# Ignore build
build
build/

# Ignore dist
dist
dist/

# Ignore bazel outputs
bazel-bin
bazel-bin/
bazel-out
bazel-out/
bazel-t2Eng
bazel-t2Eng/
bazel-testlogs
bazel-testlogs/

